/* .clientFormContainer .rimowaLogoText {
  margin: 2% 0 0 0;
  font-size: 32px;
  font-weight: 400;
  font-family: "Favorit Light", Arial, sans-serif;
  color: #00000091;
}

.clientFormContainer .rimowaSubtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin: 0% 0% 2% 0;
  color: #00000091;
} */
.clientFormContainer {
  /* margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



.form{
  /* max-width: 100%; */
  margin: 30px 10px 30px 10px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.clientFormContainer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin: 0 10px 0 10px ;
  padding: 0 10px 0 10px;

}

.clientFormContainer .inputField {
  flex: 1;
  margin: 10px;
  width:80%;
  text-align: center;
}

.formLabel {
  margin: 5px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Favorit Light", Arial, sans-serif;
}



.checkboxContainer{
  text-align:center;
  padding: 10px;
}


.clientFormContainer .MuiButton-root {
  margin: 3vh;
}


@media screen and (max-width: 480px){
.clientFormContainer  .MuiButton-root {
  padding: 2px 8px;
  font-size: 0.8rem;
  min-width: 64px;
}

.clientFormContainer .MuiButton-root {
  margin: 1vh;
}

.clientFormContainer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin: 0px ;
  padding: 0px;

}

.clientFormContainer .inputField {
  flex: 1;
  margin: 10px 0;
  width:90%;
  text-align: center;
}

}