@page { size: auto;  margin: 0mm; }


.table {
  padding: 15px;
  margin: 20px 0 20px 0;
}

.root {
  margin: 20px;
  /* overflow-x: auto; */
}

.head {
  background-color: grey;
  color: white !important;
}

.body {
  font-size: 14;
}

.tableRow {
  border: 1px solid white;
}

.tableRow:hover {
  border: 2px solid black;
}

.actionIcon {
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.delete:hover {
  color: red;
}

.edit:hover {
  color: blue;
}

.printButton {
  display: flex;
  margin-bottom: 20px !important;
  margin-top: -20px !important;
  justify-content: center;
}

@media screen and (max-width: 1024px){

 .tableContainer .MuiTableCell-root {
    padding: 0px;
  }
  
  .tableContainer td {
    padding: 0px;
  }
  }

  @media screen and (max-width: 480px){

    .tableContainer .MuiTableCell-root {
      padding: 0px;
    }
    
    .tableContainer td {
      padding: 0px;
    }
  

  .tableContainer table tr td:first-child + td + td {
    display: none;
  }

  .tableContainer table tr th:first-child + th + th {
    display: none;
  }

  .tableContainer table tr td:first-child + td + td + td {
    display: none;
  }

  .tableContainer table tr th:first-child + th + th + th {
    display: none;
  }

  .tableContainer table tr td:first-child + td + td + td + td{
    display: none;
  }

  .tableContainer table tr th:first-child + th + th + th + th{
    display: none;
  }


  .tableContainer table tr td:first-child + td + td + td + td + td {
    display: none;
  }

  .tableContainer table tr th:first-child + th + th + th + th + th {
    display: none;
  }

  .tableContainer table tr td:first-child + td + td + td + td + td + td {
    display: none;
  }

  .tableContainer table tr th:first-child + th + th + th + th + th + th {
    display: none;
  }


}

@media screen and (min-width: 481px) and (max-width: 769px) {

  .tableContainer table tr td:first-child + td + td + td {
    display: none;
  }

  .tableContainer table tr th:first-child + th + th + th {
    display: none;
  }

  .tableContainer table tr td:first-child + td + td + td + td{
    display: none;
  }

  .tableContainer table tr th:first-child + th + th + th + th{
    display: none;
  }
}