
/* hightlight ticket status table cell */
.ticketStatus {
  display: block;
}

.statusWrapper {
  display:flex; flex-direction: row;
  align-items: center;
}

.ticketStatus:hover {
  border: 1px solid grey;
  cursor: pointer;
  background-color: lightgrey;
}



.table {
  padding: 15px;
  margin: 20px 0 20px 0;
  table-layout: fixed;
  width: 100%;

}

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



.root {
  margin: 20px;
  /* overflow-x: auto; */
}

.head {
  background-color: grey;
  color: white !important;
}

.body {
  font-size: 14;
}

.tableRow {
  border: 1px solid white;
}

.tableRow:hover {
  border: 2px solid black;
}

.actionIcon {
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.delete:hover {
  color: red;
}

.edit:hover {
  color: blue;
}

.printButton {
  /* display: flex; */
  margin-bottom: 20px !important;
  margin-top: -20px !important;
  /* justify-content: center; */
  position: relative;
  top: 30px;
  left: 40%;

}

@media screen and (max-width: 1024px) {

  .tableContainer .MuiTableCell-root {
    padding: 2px 5px;
  }

  .tableContainer td {
    padding: 0px;
  }
}

@media screen and (max-width: 480px) {

  .tableContainer .MuiTableCell-root {
    padding: 2px 5px;
  }

  .tableContainer td {
    padding: 5px;
  }

  .tableContainer .MuiTableCell-root:last-child {
    padding-right: 0px;
  }


  .tableContainer table tr td:first-child+td+td {
    display: none;
  }

  .tableContainer table tr th:first-child+th+th {
    display: none;
  }

  .tableContainer table tr td:first-child+td+td+td {
    display: none;
  }

  .tableContainer table tr th:first-child+th+th+th {
    display: none;
  }

  .tableContainer table tr td:first-child+td+td+td+td {
    display: none;
  }

  .tableContainer table tr th:first-child+th+th+th+th {
    display: none;
  }


  .tableContainer table tr td:first-child+td+td+td+td+td {
    display: none;
  }

  .tableContainer table tr th:first-child+th+th+th+th+th {
    display: none;
  }

  .tableContainer table tr td:first-child+td+td+td+td+td+td {
    display: none;
  }

  .tableContainer table tr th:first-child+th+th+th+th+th+th {
    display: none;
  }


}

@media screen and (min-width: 481px) and (max-width: 769px) {

  .tableContainer .MuiTableCell-root {
    padding: 1px 2px;
  }

  .tableContainer .MuiTableCell-root:last-child {
    padding-right: 0px;
  }

  .tableContainer table tr td:first-child+td+td+td {
    display: none;
  }

  .tableContainer table tr th:first-child+th+th+th {
    display: none;
  }

  .tableContainer table tr td:first-child+td+td+td+td {
    display: none;
  }

  .tableContainer table tr th:first-child+th+th+th+th {
    display: none;
  }
}


.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}