/* .associateFormContainer .rimowaLogoText {
  margin: 2% 0 0 0;
  font-size: 25px;
  font-weight: 400;
  font-family: "Favorit Light", Arial, sans-serif;
  color: #00000091;
}

.associateFormContainer .rimowaSubtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  margin: 0% 0% 2% 0;
  color: #00000091;
} */

/* .inputField {
  display: initial!important;
} */


.dropdownSpacer {
  height: 17px;
}

/* .inputField
  .MuiSelect-root
  .MuiSelect-select
  .MuiInputBase-input
  .MuiInput-input
  .MuiInputBase-inputSelect {
  flex: 1;
  width: 100%;
} */

.dropdownWrapper {
  /* display: flex;
  justify-content: flex-start;
  width: 100%; */
}

.associateBodyContainer .MuiFormControl-marginNormal {
  width: 80%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.associateBodyContainer {
  margin-left:auto;
  margin-right: auto;
}

/* target rimowaMid div in associate form page */

/* .associateFormContainer .rimowaMid {
margin: 0 10% ;
} */

.itemForm {
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.associateFormContainer .MuiTypography-body1 {
  text-align: left;
}

.associateFormContainer .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex: 1; */
  margin: 10px 10px 10px 10px;
  padding: 0 10px 0 10px;
}

.associateFormContainer .inputField {
  /* flex: 1; */
  margin: 0 10px 0 10px;
  width: 80%;
  /* max-width: 300px */
}

.checkboxWrapper {
  font-size: 12px;
  padding: 16px;
  display: flex;
  flex-direction: row;
}
.checkbox {
  margin: 10px;
}

.formLabel {
  margin: 10px;
  font-size: 35px;
  font-weight: 400;
  font-family: "Favorit Light", Arial, sans-serif;
}

.paperContainer {
  padding: 2%;
  /* display: flex; */
}

.addItemButton {
  text-size: 10px;
}

.associateFormContainer .MuiButton-outlined {
  margin: 3vh;
}

@media screen and (max-width: 480px) {

  .checkboxWrapper {
    display: unset;
  }

  .associateFormContainer .inputField {
    /* flex: 1; */
    margin: 0 5px 0 5px;
    width: 100%;
    /* max-width: 300px */
  }

  .associateFormContainer .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex: 1; */
    margin: 0px;
    padding: 0 10px 0 10px;
  }

  .associateFormContainer .MuiButton-root {
    padding: 2px 8px;
    font-size: 0.8rem;
    min-width: 64px;
  }

  .associateFormContainer .MuiButton-root {
    margin: 1vh;
  }
}
