.signPadContainer {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  /*padding: 50px;*/
}

.signPad {
  /*flex: 1;*/
  max-width: 700px;
  max-height: 500px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 2px 20px 0px;
}

.signTitle {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 3vh;
}

.signPadContainer .MuiButton-outlined{
  margin: 3vh;
}