/* GLOBAL */
/*remove extra information when printing html */
@page {
  size: auto;
  margin: 0mm;
}

.bodyContainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.rimowaTop {
  /* height: 15%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.rimowaMid {
  /* height: 70%; */
  flex:4;
  display: flex;
  margin: 0 25% 0 25%;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  /* white-space: nowrap; */
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;

}

.rimowaBottom {
  /* height: 15%; */
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.rimowaTitle {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  justify-content: center;
  padding: 20px 0 0 0;
}

@media screen and (max-width: 480px) {


  .rimowaMid {
    flex:4;
    height: 60%;
    display: flex;
    margin: 0 2% 0 2%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}
/* 
@media screen and (min-width: 481px) and (max-width: 1024px) {



  .rimowaMid {
    flex:4;

    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
} */

 /*  Portrait iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2 */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    .rimowaMid {flex: 2;
    margin: 0 40px;
    }
  }


  /* Landscape iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2 */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {

    .rimowaMid {flex: 4;
    margin: 0 40px;}
  }

/* Portrait iPad Pro */

@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
.rimowaMid {
  flex: 2;
  margin: 0;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

  }
/* Landscape Portait Pro */

  @media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape) {

.rimowaMid {
  flex: 2;
  margin: 0;
}

  }

/*END GLOBAL*/

.buttonWrapper {
  display: inherit;
  margin-left: auto;
  margin-right: auto;

}



.button {
  padding: 5px;
  margin: 5px;
  font-family: "Favorit Light", Arial, sans-serif;
}

.rimowaLogoText {
  margin: 1% 0 0 0;
  font-size: 25px;
  font-weight: 400;
  font-family: "Favorit Light", Arial, sans-serif;
  color: #00000091;
}

.rimowaSubtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0% 0% 1% 0;
  color: #00000091;
}